{% extends "base.html" %}

{% load static %}

{% block title %}Borinud{% endblock %}

{% block content %}
<div id="content">
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.61.0-2013.06.06/jquery.blockUI.js"></script>
<script src="{% static 'borinud/borinud-client.js' %}"></script>
<script src="{% static 'borinud/borinud.B.js' %}"></script>
<script src="{% static 'borinud/borinud.level.js' %} "></script>
<script src="{% static 'borinud/borinud.trange.js' %}"></script>
<script>
$(document).ready(function() {
    borinud.config.root_el = "#content";
    borinud.config.ajax.baseUrl = "api/v1";
    borinud.config.ajax.dataType = "json";
    borinud.init();
});
</script>
{% endblock %}
